.entry-title {
	font-weight: 400;
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 1px dotted;
}
.entry-title a {
  text-decoration: none;
}
.entry-meta {
	margin-top: 3px;
	font-size: .8rem;
}
.excerpt {
  margin-top: 1.5rem;
}