embed,
iframe,
object {
	max-width: 100%;
}
video {
	width: 100%;
}
figure {
	width: 100% !important;
}
figcaption {
	font-size: .9rem;
	font-style: italic;
}
figure.img-full {
	margin-bottom: 1.5rem;
}
.img-full > img {
	cursor: pointer;
}