body {
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--off-black);
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--headline-font);
  font-weight: 700;
  margin: 0 0 1rem;
}
p {
	margin-bottom: 1.5em;
}
blockquote {
  font-size: 1.25rem;
  font-weight: 450;
  white-space: pre-wrap;
}
hr {
  width: 75%;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 1.5em;
}
hr.sm {
  width: 25%;
  border-bottom: 1px dotted black;
}