:root {
  --body-font: 'Merriweather', serif;
  --headline-font: 'Fira Sans', sans-serif;

  --h: 199;
  --s: 100%; 
  --l: 30%;
  --a: 1;
  --alt-l: 35%;
  --main-color: hsla(var(--h) var(--s) var(--l) / var(--a));
}
/* These overwrite current styles, should be adjusted to just be the style */
body {
  font-weight: 400;
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
a {
  color: var(--off-black)
}
p {
  line-height: 1.7;
}
.site-title a, .site-title a:visited, .site-title a:hover, .site-title a:active {
  color: var(--off-black);
  font-weight: 900;
}
.main-navigation li a {
  font-family: var(--headline-font);
  font-weight: 500;
  text-transform: none;
}
.entry-title {
  font-weight: 700;
  border: none;
  padding: 0;
}
.cat-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}
.cat-links li {
  display: inline-flex;
}
.cat-links a, .cat-links a:visited, .featured-item .cat-links a, .featured-item .cat-links a:visited {
  display: inline-block;
  color: white;
  border: none;
  background-color: var(--main-color);
  padding: 3px 6px;
  border-radius: 3px;
  font-family: var(--headline-font);
  font-weight: 300;
  text-transform: none;
  transition: var(--base-transition);
}
.widget_cloud a:hover {
  background-color: hsl(var(--h) var(--s) var(--alt-l) / var(--a));
}
@media (min-width: 1025px) {
  .main-navigation ul a {
    font-size: 1rem;
  }
}
/* New adds */
.site-branding {
  align-self: center;
}