:root {
  --body-font: 'Merriweather', serif;
  --headline-font: 'Fira Sans', sans-serif;

  --black: var(--off-black);

  --h: 199;
  --s: 100%; 
  --l: 30%;
  --a: 1;
  --alt-l: 35%;
  --alt-a: .5;
  --main-color: hsla(var(--h) var(--s) var(--l) / var(--a));
}
/* These overwrite current styles, should be adjusted to just be the style */
body {
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  line-height: 1.2;
}
a {
  color: var(--off-black);
  text-decoration: none;
  background-image: linear-gradient(to top, var(--main-color), var(--main-color));
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 2px;
  transition: all var(--base-transition);
}
a:hover {
  background-image: linear-gradient(to top, hsla(var(--h) var(--s) var(--l) / .5), hsla(var(--h) var(--s) var(--l) / .5));
  background-size: 100% 50%;
  transition: all var(--base-transition);
}
p {
  font-size: 18px;
  line-height: 1.7;
}
.site-title a, .site-title a:visited, .site-title a:hover, .site-title a:active {
  color: var(--off-black);
  font-weight: 900;
  background: none;
}
.main-navigation li a {
  font-family: var(--headline-font);
  font-weight: 500;
  text-transform: none;
}
.main-navigation li a:visited,
.main-navigation li a:hover {
  color: unset;
}
.entry-meta {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin: 0;
  font-size: .9rem;
}
.entry-title {
  font-weight: 700;
  border: none;
  padding: 0;
}
.cat-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}
.cat-links li {
  display: inline-flex;
}
.featured-item figure {
  background-color: unset;
}
.featured-item figure img {
  opacity: unset;
  transition: filter var(--base-transition);
}
.featured-item figure:hover img {
  opacity: unset;
  filter: brightness(.75);
}
.nav-paged {
  gap: .25rem;
}
.nav-paged li + li {
  margin: 0;
}
.nav-paged li a {
  padding: unset;
}
img:not(.hero img) {
  border-radius: 5px;
}
@media (min-width: 1025px) {
  .main-navigation ul > li a {
    padding: unset;
  }
  .main-navigation ul a {
    font-size: 1rem;
  }

}
/* clean ups - only need what's here */
.blocks-gallery-item button img {
  height: 100%;
  object-fit: cover;
  transition: filter var(--base-transition);
}

/* New adds */
.site-branding {
  align-self: center;
}
.recent-articles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.recent-articles li + li {
  margin-top: .5rem;
}
.recent-articles a {
  font-size: .97rem;
}
.entry-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.entry-title a, .entry-title a:visited {
  background: none;
}
.entry-header img {
  aspect-ratio: 16 / 9;
  border-radius: 5px;
}
.pill {
  display: inline-block;
  color: white;
  border: none;
  background-image: none;
  background-color: var(--main-color);
  padding: 3px 6px;
  border-radius: 3px;
  font-family: var(--headline-font);
  font-weight: 300;
  text-transform: none;
  transition: var(--base-transition);
}
.pill:hover {
  background-image: none;
  background-color: hsl(var(--h) var(--s) var(--alt-l) / var(--a));
}
.post ul li {
  line-height: 1.7;
}